<button
	{...Astro.props}
	class="flex max-w-fit items-center justify-center gap-2 space-x-2 text-nowrap rounded-md border-2 border-gray-100/10 bg-primary px-3 py-1.5 text-base text-gray-300 shadow transition-all hover:scale-105 hover:animate-tilt hover:border-gray-100/20 active:bg-secondary"
>
	<slot />
</button>
