<div
	class="fixed inset-0 left-0 right-0 top-0 -z-50 h-full w-full bg-[transparent] bg-[linear-gradient(to_right,#f2f2f210_2px,transparent_1px),linear-gradient(to_bottom,#f2f2f210_2px,transparent_1px)] bg-[size:6rem_4rem] md:bg-[size:8rem_6rem] dark:bg-[linear-gradient(to_right,#f2f2f210_2px,transparent_1px),linear-gradient(to_bottom,#f2f2f210_2px,transparent_1px)]"
>
</div>
