---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
	{
		title: "SubVray",
		label: "subvray",
		url: "/#subvray",
	},
	{
		title: "Proyectos",
		label: "proyectos",
		url: "/#proyectos",
	},
	{
		title: "Sobre mí",
		label: "sobre-mi",
		url: "/#about",
	},
	{
		title: "Contacto",
		label: "contacto",
		url: "mailto:jim.alberto.21@gmail.com",
	},
]
---

<header
	class="fixed left-0 top-0 z-[99] mx-auto mt-2 flex w-full animate-slide-in-top items-center justify-center"
	id="header"
>
	<nav
		class="flex items-center justify-center rounded-full px-3 text-sm font-medium text-gray-800 dark:text-gray-100 md:text-base"
	>
		{
			navItems.map((link) => (
				<a
					class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
					aria-label={link.label}
					href={link.url}
				>
					{link.title}
				</a>
			))
		}
		<!-- <ThemeToggle /> -->
	</nav>

	<style>
		nav {
			animation: nav-shadown 1s linear both;
			animation-timeline: scroll();
			animation-range: 0 100px;
		}

		@keyframes nav-shadown {
			to {
				@apply bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-gray-800/50;
			}
		}
	</style>
</header>
